## Final Scoreboard

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("instaInfluencer.csv")
df.head()

,id,inputUrl,username,businessCategoryName,verified,followersCount,igtvVideoCount,postsCount,avgLikes,avgComments,avgViews,engagementRate,credibilityScore,latestComments,credScore
0,5.994096e+10,https://www.instagram.com/_shotaroo_/,_shotaroo_,NaN,0.0,8173.0,0.0,0.0,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,[],50.000000
1,9.639866e+08,https://www.instagram.com/_rl9/,_rl9,Athlete,1.0,36964590.0,9.0,2237.0,6.541033e+05,2724.361538,6.884521e+05,0.036394,142.427159,"['ğŸ‘', 'ğŸ‡µğŸ‡±â¤ï¸â¤ï¸â¤ï¸', 'ğŸ˜ğŸ˜ğŸ˜', 'ğŸ¤œğŸ¤›', 'ğŸ˜ğŸ˜ğŸ’™â¤ï¸ğŸ¤œğŸ¤›', 'Ø¨Ø³Ù…...",93.872844
2,2.239254e+09,https://www.instagram.com/03_hu/,03_hu,Actor,1.0,4228164.0,0.0,242.0,2.512667e+05,943.769231,6.342246e+04,0.074650,80.770908,"['.â¤ï¸â¤ï¸â¤ï¸', 'ì°¸ ì˜ˆì˜ë„¤ìš”ğŸ’—', 'ALL OF US ARE DEAD 2ë²ˆì§¸...",88.587738
3,4.682972e+07,https://www.instagram.com/_agentgirl_/,_agentgirl_,Blogger,1.0,17538790.0,1.0,42.0,2.641631e+05,1805.884615,7.387765e+05,0.057287,61.742524,"['love you', 'XvideoğŸ˜‚ğŸ˜‚ğŸ˜‚', 'ĞĞ°ÑÑ‚ÑŒ, Ñ‚Ğ°Ğ¼ Ğ´ĞµĞ²Ğ¾Ñ‡ĞºĞ° ...",97.477273
4,3.813679e+07,https://www.instagram.com/21savage/,21savage,Gamer,1.0,20846058.0,6.0,1380.0,1.034745e+06,7843.164835,1.422129e+06,0.118234,138.891208,"['ğŸ‡ºğŸ‡¸ğŸ‡ºğŸ‡¸ğŸ‡ºğŸ‡¸ğŸ¦ ğŸ‡¬ğŸ‡§ğŸ‡¬ğŸ‡§ğŸ‡¬ğŸ‡§ğŸ‡¬ğŸ‡§', 'ğŸ‡ºğŸ‡¸ğŸ‡ºğŸ‡¸ğŸ‡ºğŸ‡¸ğŸ¦ ğŸ‡¬ğŸ‡§ğŸ‡¬ğŸ‡§ğŸ‡¬ğŸ‡§ğŸ‡¬ğŸ‡§', 'ğŸ’ƒğŸ½', '...",88.603121

In [45]:
from sklearn.preprocessing import MinMaxScaler

# Normalize the metrics so that they are in the range [0, 1]
scaler = MinMaxScaler()
df["credScore"] = 0.6*df["credibilityScore"]+df["credScore"]*0.4
df['norm_engagement'] = scaler.fit_transform(df[['engagementRate']])
df['norm_cred'] = scaler.fit_transform(df[['credScore']])

# Define weights for each metric (adjust these values as needed)
weight_engagement = 0.15
weight_cred = 0.85

# Compute the overall ranking score for each influencer
df['ranking_score'] = weight_engagement * df['norm_engagement'] + weight_cred * df['norm_cred']

# Rank influencers: highest ranking_score gets rank 1
df['rank'] = df['ranking_score'].rank(method='dense', ascending=False)

# Optionally, sort the DataFrame by rank (or ranking_score) to view the ranking
df_sorted = df.sort_values('rank')

# Display relevant columns
df_sorted[['username', 'engagementRate', 'credScore', 'ranking_score', 'rank']]

,username,engagementRate,credScore,ranking_score,rank
118,badgalriri,0.113087,125.922989,0.863057,1.0
249,blackpinkofficial,0.098746,125.118932,0.854949,2.0
75,anushkasen0408,0.051119,125.770112,0.854675,3.0
112,beingsalmankhan,0.066853,125.531378,0.854576,4.0
39,aliaabhatt,0.115789,124.628251,0.852979,5.0
...,...,...,...,...,...
242,dukeandduchessofcambridge,NaN,22.334454,NaN,NaN
629,mont.pantoja,NaN,NaN,NaN,NaN
679,mejiwoo103,NaN,NaN,NaN,NaN
769,sanchooo10,NaN,20.903090,NaN,NaN
804,simoneses,NaN,20.000000,NaN,NaN

In [46]:
df_sorted.tail(10)

,id,inputUrl,username,businessCategoryName,verified,followersCount,igtvVideoCount,postsCount,avgLikes,avgComments,avgViews,engagementRate,credibilityScore,latestComments,credScore,norm_engagement,norm_cred,ranking_score,rank
828,6.749723e+10,https://www.instagram.com/syifahadjureal/,syifahadjureal,NaN,0.0,5.0,0.0,0.0,0.0,0.0,0.075,0.015,0.000000,[],20.000000,0.011546,0.000000,0.001732,961.0
82,6.088758e+10,https://www.instagram.com/asalamaleh/,asalamaleh,NaN,0.0,7239.0,0.0,0.0,0.0,0.0,108.585,0.015,0.000000,[],20.000000,0.011546,0.000000,0.001732,961.0
672,5.943760e+10,https://www.instagram.com/onwardwanna/,onwardwanna,NaN,0.0,2990.0,0.0,0.0,0.0,0.0,44.850,0.015,0.000000,[],20.000000,0.011546,0.000000,0.001732,961.0
124,6.414477e+10,https://www.instagram.com/bibisbeautypalace/,bibisbeautypalace,NaN,0.0,921.0,0.0,0.0,0.0,0.0,13.815,0.015,0.000000,[],20.000000,0.011546,0.000000,0.001732,961.0
0,5.994096e+10,https://www.instagram.com/_shotaroo_/,_shotaroo_,NaN,0.0,8173.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000000,[],20.000000,0.000000,0.000000,0.000000,962.0
242,5.527589e+10,https://www.instagram.com/dukeandduchessofcamb...,dukeandduchessofcambridge,NaN,0.0,0.0,0.0,5.0,0.0,0.0,0.000,NaN,3.890756,[],22.334454,NaN,0.022039,NaN,NaN
629,1.466150e+09,https://www.instagram.com/mont.pantoja/,mont.pantoja,NaN,1.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
679,2.674499e+08,https://www.instagram.com/mejiwoo103/,mejiwoo103,NaN,1.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
769,6.905195e+10,https://www.instagram.com/sanchooo10/,sanchooo10,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.000,NaN,1.505150,[],20.903090,NaN,0.008526,NaN,NaN
804,5.181591e+10,https://www.instagram.com/simoneses/,simoneses,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.000,NaN,0.000000,[],20.000000,NaN,0.000000,NaN,NaN

In [47]:
df_sorted.to_csv('AuraLevel.csv', index=False)

In [50]:
df['ranking_score'].describe()

count    973.000000
mean       0.578941
std        0.171444
min        0.000000
25%        0.452875
50%        0.665749
75%        0.694732
max        0.863057
Name: ranking_score, dtype: float64